<div id="main-div">
    <div class="default-header">
        <span >Transfer Cards</span>
     </div>

     <div id="div-all-boxes">
        <div id="left-box" class="card-box">

           <div class="select-row">
                <mat-form-field appearance="outline" class="left">
                    <mat-label>Set Type</mat-label>
                    <mat-select #set
                                panelClass="example-panel-blue"
                                (selectionChange)="searchSets(set.value, 'L')">
                    <mat-option value="Deck">Deck</mat-option>
                    <mat-option value="Tin">Tin</mat-option>
                    <mat-option value="Booster">Booster</mat-option>
                    <mat-option value="Box">Box</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;  &nbsp;
                           
                <mat-form-field appearance="outline" style="width: 60%;">
                    <mat-label>Sets</mat-label>
                    <mat-select [disabled]="leftSets.length == 0 ? true : false" (selectionChange)="getSetAndCards('L', set.value, leftSide.value)" #leftSide>
                        <mat-option *ngFor="let lefts of leftSets" value="{{lefts.setId}}">
                            {{lefts.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
          </div> 

          <div class="SetDetails">
            <div class="setImage">
                <img [src]="cardImagem('55623480')" alt="Set Image" width="85px" height="100px">
            </div>

            <div class="setDescription">
                <p class="nome-set">Link Strike_57202222010</p>
                <div class="description-bottom">
                        <table >
                            <thead>
                              <tr>
                                <th  class="table-primary" width="20%" *ngIf="leftUserSetCollecton?.rarities.Common > 0">Common</th>
                                <th  class="table-info"    width="20%" *ngIf="leftUserSetCollecton?.rarities.Rare > 0">Rare</th>
                                <th class="table-success"  width="20%" *ngIf="leftUserSetCollecton?.rarities.Super_Rare > 0">Super Rare</th>                         
                                <th class="table-primary"  width="20%" *ngIf="leftUserSetCollecton?.rarities.Secret_Rare > 0">Secret Rare</th>
                                <th class="table-warning"  width="20%" *ngIf="leftUserSetCollecton?.rarities.Ultra_Rare > 0">Ultra Rare</th>
                              </tr>
                             
                            </thead>
                            <tbody>
                              <tr style="background-color: ghostwhite;">
                                <td *ngIf="leftUserSetCollecton?.rarities.Common > 0">{{leftUserSetCollecton?.rarities.Common}}</td>
                                <td *ngIf="leftUserSetCollecton?.rarities.Rare > 0">{{leftUserSetCollecton?.rarities.Rare}}</td>
                                <td *ngIf="leftUserSetCollecton?.rarities.Super_Rare > 0">{{leftUserSetCollecton?.rarities.Super_Rare}}</td>
                                <td *ngIf="leftUserSetCollecton?.rarities.Secret_Rare > 0">{{leftUserSetCollecton?.rarities.Secret_Rare}}</td>                        
                                <td *ngIf="leftUserSetCollecton?.rarities.Ultra_Rare > 0">{{leftUserSetCollecton?.rarities.Ultra_Rare}}</td>
                              </tr>
                            </tbody>
                          </table>
    
                    <div class="totalPrice">
                        <span> Total Price <br>  $ 108.98</span>                  
                    </div>
                </div>
            </div>
          </div>

          <div class="inside-cards">

            <div class="single-card">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" style="color: white">
                    100
                </span>
                <i class="material-icons card-item-icon" style="margin-left: 35%; color: blue; background-color: yellow; font-size:20px" 
                matTooltipClass="example-tooltip-red"                   
                matTooltip="Send Card" 
                (click)="addCardSideDeck(i)">keyboard_double_arrow_right</i>  
                <img [src]="cardImagem('55623480')" width="109px" height="139px" (mouseover)="mostrarImgToolTip('55623480', $event)"
                (mousemove)="mostrarImgToolTip('55623480', $event)" (mouseout)="esconderImgToolTip()">
            </div>
          </div>
        </div>

        <div id="right-box" class="card-box">
            <div class="select-row">
                <mat-form-field appearance="outline" class="right">
                    <mat-label>Set Type</mat-label>
                    <mat-select  #setsRight
                                panelClass="example-panel-blue"
                                (selectionChange)="searchSets(setsRight.value, 'R')">
                    <mat-option value="Deck">Deck</mat-option>
                    <mat-option value="Tin">Tin</mat-option>
                    <mat-option value="Booster">Booster</mat-option>
                    <mat-option value="Box">Box</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;  &nbsp;
                           
                <mat-form-field appearance="outline" style="width: 60%;">
                    <mat-label>Sets</mat-label>
                    <mat-select  panelClass="example-panel-blue" [disabled]="rightSets.length == 0 ? true : false">
                        <mat-option *ngFor="let rights of rightSets" value="{{rights.id}}">{{rights.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> 

            <div class="SetDetails">
                <div class="setImage">
                    <img [src]="cardImagem('55623480')" alt="Set Image" width="85px" height="100px">
                </div>
    
                <div class="setDescription">
                    <p class="nome-set">Link Strike_57202222010</p>
                    <div class="description-bottom">
                            <table >
                                <thead>
                                  <tr>
                                    <th  class="table-primary" width="20%" *ngIf="leftUserSetCollecton?.rarities.Common > 0">Common</th>
                                    <th  class="table-info"    width="20%" *ngIf="leftUserSetCollecton?.rarities.Rare > 0">Rare</th>
                                    <th class="table-success"  width="20%" *ngIf="leftUserSetCollecton?.rarities.Super_Rare > 0">Super Rare</th>                         
                                    <th class="table-primary"  width="20%" *ngIf="leftUserSetCollecton?.rarities.Secret_Rare > 0">Secret Rare</th>
                                    <th class="table-warning"  width="20%" *ngIf="leftUserSetCollecton?.rarities.Ultra_Rare > 0">Ultra Rare</th>
                                  </tr>
                                 
                                </thead>
                                <tbody>
                                  <tr style="background-color: ghostwhite;">
                                    <td *ngIf="leftUserSetCollecton?.rarities.Common > 0">{{leftUserSetCollecton?.rarities.Common}}</td>
                                    <td *ngIf="leftUserSetCollecton?.rarities.Rare > 0">{{leftUserSetCollecton?.rarities.Rare}}</td>
                                    <td *ngIf="leftUserSetCollecton?.rarities.Super_Rare > 0">{{leftUserSetCollecton?.rarities.Super_Rare}}</td>
                                    <td *ngIf="leftUserSetCollecton?.rarities.Secret_Rare > 0">{{leftUserSetCollecton?.rarities.Secret_Rare}}</td>                        
                                    <td *ngIf="leftUserSetCollecton?.rarities.Ultra_Rare > 0">{{leftUserSetCollecton?.rarities.Ultra_Rare}}</td>
                                  </tr>
                                </tbody>
                              </table>
        
                        <div class="totalPrice">
                            <span> Total Price <br>  $ 108.98</span>                  
                        </div>
                    </div>
                </div>
              </div>

            <div class="inside-cards">
                <div class="single-card">
                    <span class="position-absolute translate-middle badge rounded-pill bg-info" style="color: white">
                        100
                    </span>
                    <i class="material-icons card-item-icon" style="margin-left: 35%; color: white; background-color: orange;font-size:20px" 
                    matTooltipClass="example-tooltip-red"                   
                    matTooltip="Send Card" 
                    (click)="addCardSideDeck(i)">keyboard_double_arrow_left</i>  
                    <img [src]="cardImagem('55623480')" width="109px" height="139px" (mouseover)="mostrarImgToolTip(cardsInfo.imagem, $event)"
                    (mousemove)="mostrarImgToolTip(cardsInfo.imagem, $event)" (mouseout)="esconderImgToolTip()">
                </div>
            </div>
        </div>
     </div>
</div>
