<div id="main-div">
    <div class="default-header">
        <span >Transfer Cards</span>
     </div>

     <div id="div-all-boxes">
        <div id="left-box" class="card-box">

           <div class="select-row">
                <mat-form-field appearance="outline" class="left">
                    <mat-label>Set Type</mat-label>
                    <mat-select [formControl]="panelColor"
                                panelClass="example-panel-blue">
                    <mat-option value="Deck">Deck</mat-option>
                    <mat-option value="Tin">Tin</mat-option>
                    <mat-option value="Booster">Booster</mat-option>
                    <mat-option value="Box">Box</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;  &nbsp;
                           
                <mat-form-field appearance="outline" style="width: 60%;">
                    <mat-label>Sets</mat-label>
                    <mat-select [formControl]="panelColor"
                                panelClass="example-panel-blue">
                    <mat-option value="Deck">Deck</mat-option>
                    <mat-option value="Tin">Tin</mat-option>
                    <mat-option value="Booster">Booster</mat-option>
                    <mat-option value="Box">Box</mat-option>
                    </mat-select>
                </mat-form-field>
          </div> 

          <div class="inside-cards">

            <div class="single-card">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" style="color: white">
                    100
                </span>
                <i class="material-icons card-item-icon" style="margin-left: 35%; color: blue; background-color: yellow; font-size:20px" 
                matTooltipClass="example-tooltip-red"                   
                matTooltip="Send Card" 
                (click)="addCardSideDeck(i)">keyboard_double_arrow_right</i>  
                <img [src]="cardImagem('55623480')" width="78px" height="99px">
            </div>
          </div>
        </div>

        <div id="right-box" class="card-box">
            <div class="select-row">
                <mat-form-field appearance="outline" class="left">
                    <mat-label>Set Type</mat-label>
                    <mat-select [formControl]="panelColor"
                                panelClass="example-panel-blue">
                    <mat-option value="Deck">Deck</mat-option>
                    <mat-option value="Tin">Tin</mat-option>
                    <mat-option value="Booster">Booster</mat-option>
                    <mat-option value="Box">Box</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;  &nbsp;
                           
                <mat-form-field appearance="outline" style="width: 60%;">
                    <mat-label>Sets</mat-label>
                    <mat-select [formControl]="panelColor"
                                panelClass="example-panel-blue">
                    <mat-option value="Deck">Deck</mat-option>
                    <mat-option value="Tin">Tin</mat-option>
                    <mat-option value="Booster">Booster</mat-option>
                    <mat-option value="Box">Box</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> 

            <div class="inside-cards">
                <div class="single-card">
                    <span class="position-absolute top-0 right-0 start-100 translate-middle badge rounded-pill bg-info" style="color: white">
                        100
                    </span>
                    <i class="material-icons card-item-icon" style="margin-left: 35%; color: white; background-color: orange;font-size:20px" 
                    matTooltipClass="example-tooltip-red"                   
                    matTooltip="Send Card" 
                    (click)="addCardSideDeck(i)">keyboard_double_arrow_left</i>  
                    <img [src]="cardImagem('55623480')" width="78px" height="99px">
                </div>
            </div>
        </div>
     </div>
</div>
