<div id="main-div">
    <!--Header-->
    <div class="title-input">
        <h1>Starter Deck: Pegasus</h1>
        <div class="description-board">
            <span>Dashboard</span>
        </div>
    </div>
    <!--Cards Attribute-->
    <div class="cards-attribute card">
        <h5 class="card-header">
            Featured
        </h5>
        <div class="card-body">       
            <div class="card-attribute-cards">
                <mat-card>
                    <mat-card-content>
                    <mat-card-title>
                            <div class="card-attribue-head">
                                <span class="light-color">LIGHT</span> 
                                <img src="assets/img/outras/LUZ.png" alt="" width="50px" height="50px">
                            </div>
                    </mat-card-title>
                    <div class="card-attribute-cards-stats">
                            <span style="font-size: 18px;">16 Cards</span>&nbsp; <span style="font-size: 14px; font-weight: 300;"> (58%) </span> 
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>  
            <div class="card-attribute-cards">
                <mat-card>
                    <mat-card-content>
                    <mat-card-title>
                            <div class="card-attribue-head">
                                <span class="dark-color">DARK</span> 
                                <img src="assets/img/outras/DARK.png" alt="" width="50px" height="50px">
                            </div>
                    </mat-card-title>
                    <div class="card-attribute-cards-stats">
                            <span style="font-size: 18px;">16 Cards</span>&nbsp; <span style="font-size: 14px; font-weight: 300;"> (58%) </span> 
                        </div>
                    </mat-card-content>
                </mat-card>
            </div> 
            <div class="card-attribute-cards">
                <mat-card>
                    <mat-card-content>
                    <mat-card-title>
                            <div class="card-attribue-head">
                                <span class="earth-color">EARTH</span> 
                                <img src="assets/img/outras/TERRA.png" alt="" width="50px" height="50px">
                            </div>
                    </mat-card-title>
                    <div class="card-attribute-cards-stats">
                            <span style="font-size: 18px;">16 Cards</span>&nbsp; <span style="font-size: 14px; font-weight: 300;"> (58%) </span> 
                        </div>
                    </mat-card-content>
                </mat-card>
            </div> 
            <div class="card-attribute-cards">
                <mat-card>
                    <mat-card-content>
                    <mat-card-title>
                            <div class="card-attribue-head">
                                <span class="fire-color">FIRE</span> 
                                <img src="assets/img/outras/FIRE.png" alt="" width="50px" height="50px">
                            </div>
                    </mat-card-title>
                    <div class="card-attribute-cards-stats">
                            <span style="font-size: 18px;">16 Cards</span>&nbsp; <span style="font-size: 14px; font-weight: 300;"> (58%) </span> 
                        </div>
                    </mat-card-content>
                </mat-card>
            </div> 
            <div class="card-attribute-cards">
                <mat-card>
                    <mat-card-content>
                    <mat-card-title>
                            <div class="card-attribue-head">
                                <span>EARTH</span> 
                                <img src="assets/img/outras/LUZ.png" alt="" width="50px" height="50px">
                            </div>
                    </mat-card-title>
                    <div class="card-attribute-cards-stats">
                            <span style="font-size: 18px;">16 Cards</span>&nbsp; <span style="font-size: 14px; font-weight: 300;"> (58%) </span> 
                        </div>
                    </mat-card-content>
                </mat-card>
            </div> 
            <div class="card-attribute-cards">
                <mat-card>
                    <mat-card-content>
                    <mat-card-title>
                            <div class="card-attribue-head">
                                <span>EARTH</span> 
                                <img src="assets/img/outras/LUZ.png" alt="" width="50px" height="50px">
                            </div>
                    </mat-card-title>
                    <div class="card-attribute-cards-stats">
                            <span style="font-size: 18px;">16 Cards</span>&nbsp; <span style="font-size: 14px; font-weight: 300;"> (58%) </span> 
                        </div>
                    </mat-card-content>
                </mat-card>
            </div> 
       </div>
    </div>
    <!--Card Types and-->
    <div class="type-cards-table-properties">

        <div class="cards-table card ">
            <h6 class="card-header">
                Card Types
            </h6>
            <div class="card-body all-body overflow-auto">   
                <div class="card-static" style="border: solid thin green;">

                    <div class="card-content normal-content">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px">
                                </div>
                                <div style="margin-top: 9px;">
                                    <h3>18x</h3>
                                    <span style="color: green">Monster</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--How will be shown on 1360pix or less--> 
                    <div class="card-content content-small">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px"> <br>
                                    <span style="color: green">Monster</span>
                                </div>
                                <div style="margin-top: 25px; margin-left: 9px">
                                    <h3>18x</h3>                                 
                                </div>
                            </div>
                        </div>
                    </div>

                </div> 

                <div class="card-static" style="border: solid thin green;">

                    <div class="card-content normal-content">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px">
                                </div>
                                <div style="margin-top: 9px;">
                                    <h3>18x</h3>
                                    <span style="color: green">Monster</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--How will be shown on 1360pix or less--> 
                    <div class="card-content content-small">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px"> <br>
                                    <span style="color: green">Monster</span>
                                </div>
                                <div style="margin-top: 25px;">
                                    <h3>18x</h3>                                 
                                </div>
                            </div>
                        </div>
                    </div>

                </div> 

                <div class="card-static" style="border: solid thin green;">

                    <div class="card-content normal-content">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px">
                                </div>
                                <div style="margin-top: 9px;">
                                    <h3>18x</h3>
                                    <span style="color: green">Monster</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--How will be shown on 1360pix or less--> 
                    <div class="card-content content-small">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px"> <br>
                                    <span style="color: green">Monster</span>
                                </div>
                                <div style="margin-top: 25px;">
                                    <h3>18x</h3>                                 
                                </div>
                            </div>
                        </div>
                    </div>

                </div> 

                <div class="card-static" style="border: solid thin green;">

                    <div class="card-content normal-content">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px">
                                </div>
                                <div style="margin-top: 9px;">
                                    <h3>18x</h3>
                                    <span style="color: green">Monster</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--How will be shown on 1360pix or less--> 
                    <div class="card-content content-small">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px"> <br>
                                    <span style="color: green">Monster</span>
                                </div>
                                <div style="margin-top: 25px;">
                                    <h3>18x</h3>                                 
                                </div>
                            </div>
                        </div>
                    </div>

                </div> 

                <div class="card-static" style="border: solid thin green;">
                    <div class="card-content normal-content">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px">
                                </div>
                                <div style="margin-top: 9px;">
                                    <h3>18x</h3>
                                    <span style="color: green">Monster</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--How will be shown on 1360pix or less--> 
                    <div class="card-content content-small">
                        <div class="card-body">
                            <div class="media d-flex" style="justify-content: space-between;">
                                <div class="align-self-center" >
                                    <img src="/../../assets/img/outras/magicIcon.png" alt="" width="58px" height="85px"> <br>
                                    <span style="color: green">Monster</span>
                                </div>
                                <div style="margin-top: 25px;">
                                    <h3>18x</h3>                                 
                                </div>
                            </div>
                        </div>
                    </div>

                </div> 
                
            
            </div>
        </div>

        <div class="cards-propesties card">
            <h6 class="card-header">
                Properties
            </h6>
            <div class="card-body body-property overflow-auto" >
                <div class="card-property">
                    <mat-card style="padding: 10px !important;">
                        <mat-card-content>
                            <div class="card-property-mat">      
                                <div>
                                    <img src="assets/img/outras/LUZ.png" alt="" width="50px" height="50px"> 
                                </div>                                 
                               <div>
                                <span style="font-size: smaller">4 Cards</span>  
                               </div>
                                                    
                            </div>
                            
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="card-property">
                    <mat-card style="padding: 10px !important;">
                        <mat-card-content>
                            <div class="card-property-mat">      
                                <div>
                                    <img src="assets/img/outras/LUZ.png" alt="" width="50px" height="50px"> 
                                </div>                                 
                               <div>
                                <span style="font-size: smaller">4 Cards</span>  
                               </div>
                                                    
                            </div>
                            
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="card-property">
                    <mat-card style="padding: 10px !important;">
                        <mat-card-content>
                            <div class="card-property-mat">      
                                <div>
                                    <img src="assets/img/outras/LUZ.png" alt="" width="50px" height="50px"> 
                                </div>                                 
                               <div>
                                <span style="font-size: smaller">4 Cards</span>  
                               </div>
                                                    
                            </div>
                            
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="card-property">
                    <mat-card style="padding: 10px !important;">
                        <mat-card-content>
                            <div class="card-property-mat">      
                                <div>
                                    <img src="assets/img/outras/LUZ.png" alt="" width="50px" height="50px"> 
                                </div>                                 
                               <div>
                                <span style="font-size: smaller">4 Cards</span>  
                               </div>
                                                    
                            </div>
                            
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="card-property">
                    <mat-card style="padding: 10px !important;">
                        <mat-card-content>
                            <div class="card-property-mat">      
                                <div>
                                    <img src="assets/img/outras/LUZ.png" alt="" width="50px" height="50px"> 
                                </div>                                 
                               <div>
                                <span style="font-size: smaller">4 Cards</span>  
                               </div>
                                                    
                            </div>
                            
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="card-property">
                    <mat-card style="padding: 10px !important;">
                        <mat-card-content>
                            <div class="card-property-mat">      
                                <div>
                                    <img src="assets/img/outras/LUZ.png" alt="" width="50px" height="50px"> 
                                </div>                                 
                               <div>
                                <span style="font-size: smaller">4 Cards</span>  
                               </div>
                                                    
                            </div>
                            
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
