<div class="container" >
    <div class="default-header" style="margin-top: 10px;">
       Set Collection Cards
    </div>
    <!--Cabeçalho com informações do Set-->
    <div style="margin-bottom: 20px; padding: 10px; background-color: ghostwhite;">
        <span>
            <mat-form-field appearance="outline" style="width: 35%;">
              <mat-label>Deck name</mat-label>
              <input matInput placeholder="Placeholder" [value]="userSetCollecton?.name" style="width: 500px;" #deckName maxlength="80">
              <mat-hint>Deck Code:  <b>{{userSetCollecton?.id}}</b></mat-hint>
            </mat-form-field>
            
        </span>

    <span style="color: green; margin-left: 10%;" >
        <span class="material-icons" title="Deck total value" style="cursor: pointer;" > paid </span>   <span style="font-size:xx-large">{{userSetCollecton?.totalPrice}}</span>   
    </span>
        
    <div id="tableRarity" >
    
        <table style="border-collapse: separate; border-spacing: 3px 0; font-weight: 400; text-align: center; padding: 5px; width: 100%;">
            <thead>
              <tr>
                <th  class="table-primary" width="20%">Common</th>
                <th  class="table-info" width="20%">Rare</th>
                <th class="table-success" width="20%">Super Rare</th>
                <th class="table-warning" width="20%">Ultra Rare</th>
                <th class="table-primary" width="20%">Secret Rare</th>
              </tr>
             
            </thead>
            <tbody>
              <tr style="background-color: ghostwhite;">
                <td >{{userSetCollecton?.rarities.Common}}</td>
                <td >{{userSetCollecton?.rarities.Rare}}</td>
                <td >{{userSetCollecton?.rarities.Secret_Rare}}</td>
                <td >{{userSetCollecton?.rarities.Super_Rare}}</td>
                <td >{{userSetCollecton?.rarities.Ultra_Rare}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
    <!--Div opções-->
        <div id="divOptions">
            <fieldset>
                <legend>Options</legend>
                <div id="fieldsetInputs">
                    <mat-form-field appearance="fill" class="fld">
                        <mat-label>Search Cards</mat-label>
                        <input
                          matInput
                          placeholder="Name or Number"
                          class="inp"
                        >
                        <mat-icon matSuffix class="my-icon" style="cursor: pointer">search</mat-icon>
                      </mat-form-field> &nbsp;
    
                      <mat-form-field appearance="fill">
                        <mat-label>Set Code...</mat-label>
                        <mat-select>
                          <mat-option [value]="0">
                            All Set Codes...
                           </mat-option>
                          <mat-option *ngFor="let sets of userSetCollecton?.setCodes">
                           {{sets}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field> &nbsp;
    
                      <mat-form-field appearance="fill">
                        <mat-label>Filter...</mat-label>
                        <mat-select>
                          <mat-option >
                            Teste
                          </mat-option>
                        </mat-select>
                      </mat-form-field> &nbsp; <br>
                </div>
                
                <div id="fieldsetCheckbox">
                  <mat-checkbox class="example-margin" [(ngModel)]="onlyCardsIhave" >Show only Cards I Have.</mat-checkbox> &nbsp;&nbsp;&nbsp;
                  <!-- <mat-checkbox class="example-margin" [(ngModel)]="onlyCardsIhave" >Select all Cards on display</mat-checkbox>  -->
                   <br>
                  <mat-checkbox class="example-margin" [(ngModel)]="onlyCardsIhave" >Show Card Price</mat-checkbox> <br>
                </div>
                
                <div id="fieldsetButtons">
                    <button mat-raised-button style="background-color:#1E90FF; color: white; margin-top: 5px;" (click)="saveDeck()" title="Only on cards on display">
                        Add to all Cards 	<mat-icon>exposure_plus_1</mat-icon>
                      </button> &nbsp;
    
                      <button mat-raised-button style="background-color:#f44336; color: white; margin-top: 5px;" (click)="saveDeck()"  title="Only on cards on display">
                        Remove to all Cards <mat-icon>exposure_neg_1</mat-icon>
                      </button>
                </div>
              </fieldset>
        </div>

        <div style="margin-left: 50%; margin-bottom: 10px;">
            <button mat-raised-button style="background-color:#1E90FF ; color: white;" (click)="saveDeck()">
                Save 	<mat-icon>save</mat-icon>
            </button>
        </div>
 
    <!--Div botões-->
   <!-- <div id="optionsBtn" >
      
        <div>
            <label for="">Set Codes: &nbsp;&nbsp;</label>
            <select class="form-select" aria-label="Default select example" >
                <option selected>All</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        

          <div> 
            <label for="">Filter: &nbsp;&nbsp;</label>
            <select class="form-select " style="background-color:#04AA6D !important; color: white !important" aria-label="Default select example" >
                <option selected>No Filter</option>
                <option value="1">a-Z</option>
                <option value="2">Z-a</option>
                <option value="3">Atk</option>
                <option value="3">Def</option>
              </select> 
          </div>
     

        <div id="onlyCardsIhave">
            <mat-checkbox class="example-margin" [(ngModel)]="onlyCardsIhave" >Show only Cards I Have.</mat-checkbox>
        </div>

        <div >
            <button mat-raised-button style="background-color:#1E90FF ; color: white;" (click)="saveDeck()">
                Save 	<mat-icon>save</mat-icon>
            </button>
        </div>

        <div id="btnSearch" >
            <button mat-raised-button color="primary" (click)="openDialogSearch()" >Search <mat-icon>search</mat-icon></button>
        </div>

    </div>  -->
    <!--Div All Cards-->
    <div id="divAllCards">
        <!--Div Single Card-->
        
        <div class="divSingleCard" *ngFor="let card of userSetCollecton?.cards">
          <div style="width: 95%; margin-left: 5px;">
            <!--Price div-->
            <div style="color: green; font-size: small; width: fit-content; display: inline-block; float: left;">
            <span> {{card.price | currency : 'USD'}}</span> 
          </div>
            <!--Rarity div-->
            <div style="color: silver; font-size: small; width: fit-content; display: inline-block; float: right; ">
              <span><i>{{card.rarity}}</i> </span> 
            </div>
          </div>
     
            <!-- <mat-checkbox class="example-margin" [(ngModel)]="onlyCardsIhave" style="margin-left: -90%;"></mat-checkbox> -->
            <div style="margin-top: 3px;">
                    <img [src]='cardImagem(card.number)' alt="" width="129px" height="169px" >          
            </div>
            <div class="singleCardName">
                <span style="color: #1E90FF;">{{card.name}}</span>
            </div>
            <div>
                <div class="number">
                    <span class="minus">-</span>
                    <input type="text" [value]="card.quantityOtherCollections" min="0" max="999" maxlength="3" (keypress)="keyPressQuantityCard($event)"/>
                    <span class="plus">+</span>
                </div>
            </div>
            <div style="margin: 3px;"> 
                <select class="form-select " style="background-color:ghostwhite !important; color: #04AA6D !important" aria-label="Default select example" >
                    <option >Set Code...</option>
                    <option selected>{{card.cardSetCode}}</option>
                  </select> 
              </div>
        </div>
    </div>
</div>
