<div id="tableRarity">
      <table id="table-quantity">
        <thead>
          <tr>
            <th class="table-primary" width="20%">Common</th>
            <th class="table-info" width="20%">Rare</th>
            <th class="table-success" width="20%">Super Rare</th>
            <th class="table-warning" width="20%">Ultra Rare</th>
            <th class="table-primary" width="20%">Secret Rare</th>
          </tr>

        </thead>
        <tbody>
          <tr style="background-color: ghostwhite;">
            <td>{{rarities?.Common}}</td>
            <td>{{rarities?.Rare}}</td>
            <td>{{rarities?.Secret_Rare}}</td>
            <td>{{rarities?.Super_Rare}}</td>
            <td>{{rarities?.Ultra_Rare}}</td>
          </tr>
        </tbody>
      </table>
</div>
