<div class="divTitle" style="color: white; background-color: #17A2B8">
    <h2 style="font-weight: 700;">EDIT SET</h2>
</div>
    <form action="" [formGroup]="formSearchToEdit" style="padding: 20px;">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="setType1" >Set Type</label>
                <select name="setType1" class="form-control" id="setType1"  #setType1  (change)="searchSets(setType1.value)"> 
                    <option value="" ></option>
                    <option value="DECK" >Deck</option>
                    <option value="TIN">Tin</option>
                    <option value="BOX">Box</option>
                    <option value="BOOSTER">Booster</option>
                </select>
           </div>

           <div class="form-group col-md-6">
                <label for="setCollection" >Set Collection</label>
                <select name="setIdSearch" class="form-control" id="setIdSearch"  #setChoosen >                
                    <option *ngFor="let set of arrSetSource" [value]="set.setId" >{{set.name}}</option>
                </select>
            </div>

            <div class="form-group col-md-4 button-search">
                <button mat-raised-button color="warn" (click)="searchDeckToEdit(setChoosen.value, setType1.value)">Search</button>
            </div>
         </div>
    </form>

    <form action="" [formGroup]="formEditSet" style="padding: 20px; border-top: solid 2px red; background-color: ghostwhite;">
        <div class="form-row select-to-edit" >
            <div class="form-group col-md-6" *ngIf="setDetailsDeck?.insideDecks != null">
                <label for="setType1" >Collection to Edit</label>
                <select name="collToEdit" class="form-control" id="collToEdit"  #collToEdit (change)="searchSets(collToEdit.value)"> 
                 
                    <option value="DECK" >Deck</option>
                    <option value="TIN">Tin</option>
                    <option value="BOX">Box</option>
                    <option value="BOOSTER">Booster</option>
                </select>
           </div>
        </div>
        <div class="form-row">
             <div class="form-group col-md-3">
                <label for="id">ID</label>
                <input type="text" class="form-control" name="id" id="id" required formControlName="id">
              </div>
              <div class="form-group col-md-9">
                <label for="setName">Name</label>
                <input type="text" class="form-control" name="setName" id="setName" required formControlName="nome" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="release">Release</label>
                <input type="text" class="form-control" name="release" id="release" required formControlName="lancamento" >
            </div>
            <div class="form-group col-md-4">
                <label for="setCode">Set Code</label>
                <input type="text" class="form-control" name="setCode" id="setCode" required formControlName="setCode" >
            </div>
            <div class="form-group col-md-3">
                <label for="setType" >Set Type</label>
                <select name="setType" class="form-control" id="setType" formControlName="setType" #setType > 
                    <option value="DECK" >DECK</option>
                    <option value="TIN">TIN</option>
                    <option value="BOX">BOX</option>
                    <option value="BOOSTER">BOOSTER</option>
                </select>
            </div>         
        </div>

        <div class="form-row">

            <div class="form-group col-md-3">
               <label for="isSpeedDuel">Speed Duel</label>
                <select name="isSpeedDuel" class="form-control" id="isSpeedDuel" formControlName="isSpeedDuel" #isSpeedDuel > 
                    <option value="true" >TRUE</option>
                    <option value="false" >FALSE</option>
                </select>
             </div>

             <div class="form-group col-md-3">
               <label for="isBasedDeck">Based Deck</label>
                <select name="isBasedDeck" class="form-control" id="isBasedDeck" formControlName="isBasedDeck" #isBasedDeck > 
                    <option value="true" >TRUE</option>
                    <option value="false">FALSE</option>
                </select>
           </div>
       </div>

       <div class="form-row" style="margin-left: 40%;">
            <div class="form-group col-md-4">
                <img [src]='setDetailsDeck.imagem' alt="" width="193" height="265" style="margin-left: -3px; margin-top: -3px;">
                <input type="text" class="form-control" name="image" id="image" required formControlName="imagem" >
            </div>
       </div>

        <div class="form-row" style="margin-left: 22%;">
            <div class="form-group col-md-8" >
                <caption>Description</caption>
                <!-- <app-ckeditor #myEditor [myEditor]="setDetailsDeck?.description"></app-ckeditor> -->
                <app-ckeditor #myEditor></app-ckeditor>
            </div>
         </div>

         <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-left: 45%;">Save</button>
    </form>

    <div id="main-div-cards">
        <div *ngFor="let card of setDetailsDeck?.relDeckCards" class="div-single-card-edit">
            <div class="superior-div">
                <div class="div-img">
                    <img [src]='cardImagem(card.cardNumber)' alt="" width="139px" height="185px" (click)="cardSelected(card.cardId)">
                </div>
                <div class="div-details" (change)="onChangeEnableSaveButton(card.cardId)">
                   <input type="text" [value]="card.cardNumber" name="cardNumber" />
                   <input type="text" [value]="card.card_set_code" name="cardSetCode" />
                   <input type="text" [value]="card.card_price" name="cardPrice"/>
                   <input type="text" [value]="card.card_raridade" name="cardRarity"/> 
                   <input type="text" [value]="card.setRarityCode" name="rarityCode"/>
                   <input type="text" [value]="card.rarityDetails" name="rarityDetails"/>
                   <input type="text" [value]="card.quantity" name="cardQuantity"/>              
                </div>
            </div>
            
            <div class="div-button-card" >
                <button mat-raised-button color="primary" (click)="searchSetToEdit()" id="btn-{{card.cardId}}" disabled>Save</button>&nbsp;&nbsp;
                <button mat-raised-button color="warn" (click)="searchSetToEdit()">Delete</button>
            </div>
        </div>
    </div>

