/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.raridade {
    width: 70px; 
    height: 30px; 
    border-radius: 15px; 
    text-align: center ; 
    font-weight:bolder; 
    font-size: 20px;    
}

.comum{
   background: rgb(211,211,211);
   background: linear-gradient(318deg, rgba(211,211,211,1) 5%, rgba(239,241,241,1) 80%);
   color: #778899;
}

button {
    cursor: pointer;
}


.default-header{
    background: rgb(15,117,178);
    background: linear-gradient(146deg, rgba(15,117,178,1) 59%, rgba(59,216,235,1) 78%, rgba(239,241,241,1) 97%, rgba(241,241,241,1) 100%);
    color: white;
     font-size: 1.5em;
     text-align: center;
     vertical-align: center;
     text-transform: uppercases;
     height: 35px; 
     margin-bottom: 20px;
  }


  .card-name {
    color: #21c2f8;
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-left: 4%;
  }

  .color-common{
    color: brown;
    font-weight: 500;
  }

  .color-rare {
    color: #3CB371;
    font-weight: 500;
  }

  .color-super-rare {
    color: #6699CC;
    font-weight: 500;
  }

  .color-ultra-rare {
    color: goldenrod;
    font-weight: 500;
  }

  .color-secret-rare{
    background-image: linear-gradient(to left, violet, indigo, blue, green, goldenrod, orange, red);   -webkit-background-clip: text;
    color: transparent;
    font-weight: 500;
  }

  .bn33 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(233, 229, 229, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }

  .dark-color{
    color: #9900cc;
    font-weight: 500;
  }

  .wind-color{
    color: #339966;
    font-weight: 500;
  }
  
  .light-color{
    color: #cc9900;
    font-weight: 500;
  }

  .earth-color{
    color: #666633;
    font-weight: 500;
  }

  .fire-color{
    color: #ff3300;
    font-weight: 500;
  }

  .water-color{
    color:#3399ff;
    font-weight: 500;
  }

  .spell-color{
    color: #2E8B57;
    font-weight: 500;
  }

  .trap-color{
    color: #FF4500;
    font-weight: 500;
  }

  .fiend-color{
    color: purple;
  }

  .pyro-color{
    color: red;
  }

  .aqua-color{
    color: blue;
  }

  .plant-color{
    color: green;
  }

  .winged.beast-color{
    color: olive;
  }

  .warrior-color{
    color: darkgray;
  }
  
  .fairy-color{
    color: palevioletred;
  }

  .spellcaster-color{
    color: darkslateblue
  }

  .zombie-color{
    font-weight: #444;
  }

  .rock-color{
    color: brown;
  }

  .insect-color{
    color:#339966
  }

  .thunder-color{
      color: goldenrod
  }

  /* SEPARATOR TITLE OF EACH PAGE*/
  
#separator {
  color: #D2B48C;
  font-size: 5vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 50px 0px;

}

#separator::before, #separator::after {
  content: '';
  display: inline-block;
  height: 0.09em;
  width: 30% 
}

#separator::before {
  background: linear-gradient(to right, rgba(240, 240, 240, 0),   #D2B48C);
  margin-right: 2vh;
}
#separator::after {
  background: linear-gradient(to left, rgba(240, 240, 240, 0),  #D2B48C);
  margin-left: 2vh;
}
